.l-body {
  background-color: white;
  font-family: "Noto Sans JP", sans-serif;
}

/* header */
.l-header {
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.l-header__logo-area {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.l-header__logo {
  width: 85px;
  height: 34px;
}

.l-header__title {
  font-size: 13px;
}

.l-header__nav {
}

.l-header__link-list {
  display: flex;
  column-gap: 40px;
  font-size: 16px;
  font-weight: bold;
}

.l-header__link-list > * {
  padding: 37px 0 27px;
}

/* メインビジュアル */
.p-mainvisual {
  position: relative;
  height: 688px;
}

.p-mainvisual__image {
  width: 100%;
  height: 100%;
}
.p-mainvisual__title {
  position: absolute;
  top: 220px;
  left: 80px;
  font-size: 4.4vw;
  font-weight: bold;
}

/* カードセクション */
.p-card-section {
  background-color: #d9d9d9;
}
.p-card-section__card-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px 40px;
  flex-wrap: wrap;
  padding: 50px 80px;
}

.card {
  width: 400px;
  height: 475px;
  background-color: green;
  padding: 28px;
  background-color: white;
}

.p-card-section__img {
}

.card__textbox {
  padding-top: 16px;
}
.card__overviewtext {
  font-size: 15px;
  line-height: 1.4;
}

/* テキストセクション */
.p-text-section__title {
  font-size: 56px;
  font-weight: bold;
}

.p-text-section__inner {
  padding: 60px 80px;
}

.p-text-section__text {
  padding-top: 21px;
  line-height: 1.4;
}
