.l-body {
  background-color: white;
  font-family: "Noto Sans JP", sans-serif;
}

/* Header */
.l-header {
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.l-header__logo-area {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.l-header__logo {
  width: 85px;
  height: 34px;
}

.l-header__title {
  font-size: 13px;
}

.l-header__nav {
}

.l-header__link-list {
  display: flex;
  column-gap: 40px;
  font-size: 16px;
  font-weight: bold;
}

.l-header__link-list > * {
  padding: 37px 0 27px;
}

/* メインビジュアル */
.p-mainvisual {
  position: relative;
  height: 688px;
}

.p-mainvisual__image {
  width: 100%;
  height: 100%;
}
.p-mainvisual__title {
  position: absolute;
  top: 220px;
  left: 80px;
  font-size: 4.4vw;
  font-weight: bold;
}

/* カードセクション */
.p-card-section {
  background-color: #d9d9d9;
}
.p-card-section__card-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px 40px;
  flex-wrap: wrap;
  padding: 50px 80px;
  margin: auto;
  max-width: 1500px;
}

.p-card-section__card {
  width: 400px;
  height: 475px;
  padding: 28px;
  background-color: white;
}

.p-card-section__img {
  width: 344px;
  height: 212px;
}

.p-card-section__card-textbox {
  padding-top: 16px;
}
.p-card-section__card-overviewtext {
  font-size: 15px;
  line-height: 1.4;
}

/* テキストセクション */
.p-text-section__title {
  font-size: 56px;
  font-weight: bold;
}

.p-text-section__inner {
  padding: 100px 80px;
}

.p-text-section__text {
  padding-top: 21px;
  line-height: 1.4;
}

/* 2カラムセクション */
.p-two-column-section {
  background-color: #ececec;
}

.p-two-column-section__inner {
  display: flex;
  column-gap: 80px;
  padding: 120px 140px;
}

.p-two-column-section__image-wrapper {
  width: 560px;
}

.p-two-column-section__image {
  width: 100%;
}

.p-two-column-section__text {
  width: calc(100% - 640px);
}

.p-two-column-section__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.5;
  padding: 160px 0 40px 0;
}

.p-two-column-section__detail {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
/* Footer */
.l-footer {
}

.l-footer__inner {
  background-color: black;
  padding: 30px 80px;
}
.l-footer__title {
  padding-top: 12px;
  color: white;
}
