<html>
  <head>
    <meta charset="UTF-8" />
    <title>{%%page_title%%}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"
    />
    <link rel="stylesheet" href="../css/index.css?20231114" />
    <!-- slider -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    ></script>
    <script type="text/javascript" src="js/slider.js"></script>
  </head>
  <body class="l-body">
    <header class="l-header--a">
      <div class="l-header__content-wrapper--a">
        <div class="l-header-content--a">
          <div class="l-header-content__logo--a">
            <img src="../images/logo.png" alt="" />
          </div>
          <div class="l-header-content__button-wrapper--a">
            <button class="l-header-content__button-contact--a">
              お問い合わせ
            </button>
            <img class="l-header-content__button-menu--a" src="../images/icon/drag_handle.png"></img>
          </div>
        </div>
      </div>
    </header>
    <main class="l-main"></main>
    <footer></footer>
  </body>
</html>
